{% extends "base.html" %} 
{% block content %}
{% if this_item %}
<p>Edycja</P>
{% endif %}
<form method="POST" class="post-form">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <p>Zostaniesz podpisany jako: {{ user.username }}</p>
    {% else %}
    <div class="form-group">
        <input class="form-control" id="id zglaszajacy" name="zglaszajacy" placeholder="Imie i Nazwisko" required></input>
    </div>
    {% endif %}
    <div class="form-group">
        <textarea cols="20" class="form-control" id="id opis" name="opis" placeholder="Opis wydarzenia" required>{% if this_item %}{{ this_item.opis }}{% endif %}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}