{% extends "base.html" %}

{% block content %}

<li>Typ: {{ entry.typ.typ }}</li>
<li>Cena netto: {{ entry.typ.cena_netto }}</li>
<li>Stan: {{ entry.stan }}</li>
<li>{{ entry.mieszkanie.budynek.adres.miasto }} ul. {{ entry.mieszkanie.budynek.adres.ulica }}/{{ entry.mieszkanie.nr_mieszkania }}</li>
{% load app_filters %}
{% if user.is_authenticated %}
<form action="{% url 'delete' entry.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ entry | to_class_name }}" name="name"></input>
    <button type="submit" class="btn btn-danger">Usuń</button>
</form>
{% endif %}

{% endblock content %}