{% extends "base.html" %}

{% block content %}

<li>Budynek: {{ entry.budynek.adres.miasto }}, ul. {{ entry.budynek.adres.ulica }}</li> 
<li>Metraż: {{ entry.metraz }} m</li>
<li>Liczba pokoi: {{ entry.liczba_pokoi }}</li> 
<li>Piwnica: {{ entry.piwnica }}</li> 
<li>Nr. mieszkania: {{ entry.nr_mieszkania }}</li> 
{% if user.is_authenticated %}
{% load app_filters %}
<form action="{% url 'delete' entry.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ entry | to_class_name }}" name="name"></input>
    <button type="submit" class="btn btn-danger">Usuń</button>
</form>
{% endif %}

{% endblock content %}